//- include ../helpers/variables
//- include ../helpers/mixins
include ../bemto/bemto

doctype html
html(lang='ru')
	include ../partials/head

	body
		.container
			include ../partials/header
			block content

			include ../partials/footer

			include ../partials/scripts
