+b('footer').main-footer
  +e('a')(href='#').item--logo #visitsedona
  +b('ul').social-block.main-footer__item
    +e('li').item
      +e('a')(href='#').btn--tw Twitter
    +e('li').item
      +e('a')(href='#').btn--fb Facebook
    +e('li').item
      +e('a')(href='#').btn--yt Youtube
  +b.copyright-block.main-footer__item
    +e.create-by
      |Website by
      +e('a')(href="#").create_link siteName
