+b('header').main-header
			+b('nav').nav
				+e('ul').list
					+e('li')(class='item--active')
						+e('a')(href='#')(class='link') Информация
					+e('li')(class='item')
						+e('a')(href='#')(class='link') Фото и видео
					+e('li').item
						+e('a')(href='#')(class='link')(class='--logo') LOGO??
					+e('li')(class='item')
						+e('a')(href='#')(class='link') Карта штата
					+e('li')(class='item')
						+e('a')(href='#')(class='link') Гостиницы

