+b('header').main-header
			+b('nav').nav
				+e('ul').list
					+e('li')(class='link--active')
						a(href='#') Информация
					+e('li')(class='item')
						a(href='#') Фото и видео
					+e('li')(class='item')
						a(href='#') LOGO??
					+e('li')(class='item')
						a(href='#') Карта штата
					+e('li')(class='item')
						a(href='#') Гостиницы

