+b('header').main-header
			+e('nav').navigation
				+e('ul')
					+e('li')(class='active')
						a(href='#') Информация
					li
						a(href='#') Фото и видео
					li
						a(href='#') LOGO??
					li
						a(href='#') Карта штата
					li
						a(href='#') Гостиницы

