+b('header').main-header
			+b('nav').nav
				+e('ul').list
					+e('li').item--active
						+e('a').link(href='#') Информация
					+e('li').item
						+e('a').link(href='#') Фото и видео
					+e('li').item
						+e('a').link--logo(href='#') LOGO??
					+e('li').item
						+e('a').link(href='#') Карта штата
					+e('li').item
						+e('a').link(href='#') Гостиницы

