body {
	font: normal 14px/1.5 'PTSans' Arial, Helvetica, sans-serif;
	color: #000;
}
h1 {
	font: normal 30px/normal 'Myriad Pro', Arial, Helvetica, sans-serif;
}
h2 {
	font: normal 24px/normal 'Myriad Pro', Arial, Helvetica, sans-serif;
}