@font-face {
    font-family: 'PT Sans';
    src: url('../font/pts55f-webfont.eot');
    src: url('../font/pts55f-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/pts55f-webfont.woff2') format('woff2'),
         url('../font/pts55f-webfont.woff') format('woff'),
         url('../font/pts55f-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'PT Sans';
    src: url('../font/pts75f-webfont.eot');
    src: url('../font/pts75f-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/pts75f-webfont.woff2') format('woff2'),
         url('../font/pts75f-webfont.woff') format('woff'),
         url('../font/pts75f-webfont.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;

}
