@import 'lib/nib/'
// normalize-html5();
// normalize-css()
// reset-box-size()

// grid system
// $mobile-first = false;
// $max-width=    940px;
// $breakpoints=  992px 768px 676px;
// $desktopGutter = 30;
// $colLeftWidth = (595 + $desktopGutter) * 100 / $max-width;
// $colRightWidth =(282 + $desktopGutter) * 100 / $max-width;
// $gutters=      unit($desktopGutter,'px') 26px 20px 50px;
// $container = {
//   ".container": {
//     gutter: true
//   }
//   ".row": {
//     nested: true
//   }
// }
// $grid = {
//   ".col3": {
//     width: 1/3 null null 1,
//     float: left null null none,
//   },
//   ".col2": {
//     width: 1 null null 1/2,
//     float: none null null left,
//   },
//   ".col12": {
//     width: 1 null null null,
//     float: none null null null
//   },
//   ".contentLeft": {
//   width: unit($colLeftWidth,'%') null 1 null,
//   float: left null null null
//   },
//   ".contentRightCol": {
//     width: unit($colRightWidth,'%') null 1 null,
//     float: right null null null
//   },
//   ".rightColItem": {
//     width: 1 null 1/2 1,
//     float: none left null none
//   },
//   ".copyright": {
//     width: unit(40,"%") null unit(35,"%") 1,
//     float: left null null none
//   },
//   ".payments": {
//     width: unit(60,"%") null unit(65,"%") 1,
//     float: right null null none
//   }
// }
// @import 'rebar.styl';
// @import 'mixin.styl';
// @import 'rupture.styl';
// import nib libs
// variables
// .clearfix
//   clearfix()

// .textCenter
//     text-align center
// .toRight
//     float: right;

//     //export to include
// base-font = 16
// .container
//   // rems(15px)
//   // background: linear-gradient(bottom, white, black);
//   opacity 1
//   font-sizes 16px
//   ul
//     nolist()
//     overflow ellipsis

//
// variables//
//
@import 'mixins/_utilities.styl'
$font__PtSans = 'PT Sans', Helvetica, Arial, sans-serif
$base__color = #000
$anim_duration = .3s
//normalize
normalize-css()
//common
/*
hotels
*/
@import 'fonts.styl';
@font-face {
  font-family: 'symbols-sedona';
  src: url('../font/symbols-sedona.eot?60737633');
  src: url('../font/symbols-sedona.eot?60737633#iefix') format('embedded-opentype'),
       url('../font/symbols-sedona.woff?60737633') format('woff'),
       url('../font/symbols-sedona.ttf?60737633') format('truetype'),
       url('../font/symbols-sedona.svg?60737633#symbols-sedona') format('svg');
  font-weight: normal;
  font-style: normal;
}
body
  font normal 14px/normal $font__PtSans
  color $base__color
  background: #f2f2f2;
  text-transform uppercase
h1
  font bold 30px/24px $font__PtSans
h2
  font bold 21px/21px $font__PtSans

/* ==========================================================================
   Layout
   ========================================================================== */
.clearfix {
  clearfix()
}
.wrap {
  padding 0 6%
}

.container {
  min-width 768px
  max-width 1200px
  margin: 0 auto;
  background #fff
  box-shadow 0 5px 15px lighten(#000,80%)
  box-sizing border-box
}
  /*
  * Header
  */
.main-header {
  clearfix()
  margin-bottom -15px
  overflow hidden
}
.nav__list {
  // justify()
  height 55px
  clearfix()
  nolist()
  background #fff
}
.nav__item {
  // justify-child()
    float left
    width 20%
    text-align center
}
.nav__link {
  display: block;
  font bold 14px/normal $font__PtSans
  line-height: 55px;
  color $base__color
  text-decoration none
  transition color $anim_duration
  &:hover {
    color #81b3d2
  }
  &:active {
    color rgba(0,0,0,.3)
  }
}
.nav__item--active .nav__link {
  color #766357
  &:hover {
    color #604e43
  }
  &:active {
    color #766357
    opacity .3
  }
}
.nav__link--logo {
  position relative
  font-size 0
  padding 0
  height 70px
  background url(../img/logo.png) center no-repeat
  z-index 1
}
.main {
  background #fff
}
.intro {
  position relative
  padding-top: 75px;
  padding-bottom 80px
  margin-bottom 60px
  text-align center
  background: #f2f2f2 url("../img/bg-welcome.jpg") no-repeat center top;
}
  .intro:after {
    content:'';
    position absolute
    bottom 0
    left 0
    height 57px
    width 100%
    background url(../img/welcome-stripe.png) 50% no-repeat
  }
  .intro__welcome {
    width 256px
    height 86px
    font-size 0
    margin 0 auto
    margin-bottom 55px
    background url(../img/welcome-top.png) 50% no-repeat
  }
  .intro__site-name {
    width 458px
    height 78px
    font-size 0
    margin 0 auto
    margin-bottom 55px
    background url(../img/welcome-middle.png) 50% no-repeat
  }
  .intro__slogan {
    width 296px
    height 80px
    font-size 0
    margin 0 auto
    background url(../img/welcome-bottom.png) 50% no-repeat
  }
.promo {
  width 576px
  margin 0 auto
  margin-bottom 50px
  text-align center
}
  .promo__title {
    font-size 21px
    line-height 26px
    margin-bottom 32px
  }
  .promo__descr {
    font-size 16px
    line-height 26px
    color #333
  }

.feature-list {
  clearfix()
}
  .feature-list__item:before {
    content ''
    display block
    margin 0 auto
    height 75px
    background url(../img/sprite.png) no-repeat
    background-repeat no-repeat
    background-position 50%
  }
    .feature-list__item--home:before {
      background-position: 0 0;
      width: 75px;
    }
    .feature-list__item--eat:before {
      background-position: -80px 0px;
      width: 74px;
    }
    .feature-list__item--gift:before {
      background-position: 0 -77px;
      width: 64px;
    }
  .feature-list__title {
    width 155px
    margin 0.83em auto
  }
  .feature-list__descr {
    font-size 14px
    color #333
    span {
      white-space nowrap
    }
  }

.feature-block__item {
  width 34%
  height 100%
  padding-top 50px
  text-align center
  box-sizing border-box
}

.feature-block__item--right {
  float right
}

.feature-list__item {
  float left
  width (100/3)%
  padding 60px 73px 85px 73px
  text-align center
  box-sizing border-box
}

.feature-block__item--bg-blue {
  background #81b3d2
  color #fff
}
.feature-block__title {
  margin-top 0
  margin-bottom 25px
  font-size 21px
  font-weight bold
}
.feature-block__number {
  margin-bottom 25px
}
.feature-block__descr {
  font-size 14px
  line-height 21px
}
.feature-block {
  height: 256px;
  position: relative;
  background-repeat no-repeat
}
.feature-block--bg-feature1 {
  background-image url(../img/feauruees-1.jpg)
  background-position 100% 50%
}
.feature-block--bg-feature2 {
  background-image url(../img/feauruees-2.jpg)
  background-position 0 50%
}

.feature-list--gray {
  background #eee
  .feature-list__item {
    padding-top 30px
    padding-bottom 50px
    &:before {
      display none
    }
  }
  .feature-list__number {
    margin-bottom: 25px;
}
}

.index-search {
  position relative
  width 576px
  margin 0 auto
  padding-top 55px
}
.index-search__title,
.index-search__descr {
  text-align center
}
.index-search__title {
  margin-top 0
  margin-bottom 30px
  font-size 30px
  line-height 24px
}
.index-search__descr {
  margin-bottom 50px
  font-size 14px
  line-height 24px
  color #333
}
.search-form__btn {
  display block
  width 100%
  padding 32px 0
  border 1px solid transparent
  background #766357
  color #fff
  font-size 21px
  font-weight bold
  line-height 26px
  text-transform uppercase
  text-decoration none
  text-align center
}
  .search-form__inner {
      visibility hidden
      opacity 0
      position absolute
      top 100%
      width 100%
      padding 55px
      background: #fff;
      box-sizing border-box
      box-shadow 0 7px 15px lighten(#000,80%)
      z-index 2
      transition opacity .5s
  }
  .search-form__inner.show {
    visibility visible
    opacity 1
  }
  .search-form__date {
    margin-bottom 30px
  }
    .search-form__date label {
      display inline-block
      vertical-align middle
      min-width 111px
      font-size 14px
      line-height 26px
      font-weight bold
      box-sizing border-box
    }
    .search-form__input-wrap {
      position relative
      display inline-block
      vertical-align middle
      width 350px
      overflow-x hidden
    }
      .search-form__date input {
        width 100%
        padding 8px 12px
        border 2px solid transparent
        outline 1px solid transparent
        background #f2f2f2
        font-size 14px
        font-weight bold
        color #000
        box-sizing border-box
        transition all $anim_duration
        &::-webkit-inner-spin-button,
        &::-webkit-calendar-picker-indicator,
        &::-webkit-clear-button {
          display: none;
          -webkit-appearance: none;
        }
        &:hover {
          background #ebebeb
          +.search-form__ico-date {
                      background-position -277px -39px
                    }
        }
        &:focus {
          border-color #e5e5e5
          background none
          +.search-form__ico-date {
                      background-position -277px -77px
                    }
        }
      }
    .search-form__ico-date {
      position absolute
      right 8px
      top 50%
      margin-top -12px
      display inline-block
      vertical-align middle
      width 22px
      height 22px
      background url(../img/sprite.png) -277px 0px;
    }
    .search-form__age label {
      font-size 14px
      line-height 26px
      font-weight bold
      justify-child(14px,middle)
    }
  .search-form__age {
    clearfix()
    margin-bottom 54px
  }
  .search-form__left{
    clearfix()
    width 230px
    float left
    justify()
  }
  .search-form__left--right {
    width 180px
    float right
  }

  .input-number {
    position relative
    width 114px
    justify-child(16px,middle)
  }
  .input-number__btn {
  position absolute
  top 0
  }
    .input-number__value {
      width 100%
      box-sizing border-box
      text-align center
      padding 8px 12px
      border 1px solid transparent
      background #f2f2f2
      font-size 14px
      font-weight bold
      color #000
      placeholder-color(#000)
    }
    .input-number__value:focus {
      outline: 1px solid transparent;
    }
    .input-number__btn {
      padding 8px 12px
      border 1px solid transparent
      outline 1px solid transparent
      background #f2f2f2
      font-size 18px
      line-height 18px
      font-weight bold
      color #a9a9a9
      transition color $anim_duration
      &:hover {
        color #000
      }
      &:active {
        color #81b3d2
      }
    }
   .input-number__btn--minus {
    left 0
   }
   .input-number__btn--plus {
    right 0
   }

.search-form__search-btn {
  display block
  width 100%
  padding 14px 0
  font-size 21px
  font-weight bold
  line-height 26px
  border 1px solid transparent
  outline 1px solid transparent
  text-transform uppercase
  background #81b3d2
  color #fff
  transition all $anim_duration
  &:hover {
    background #669ec0
  }
  &:active {
    background #5496bd
    color rgba(255,255,255,.3)
  }
}

.main__bg-map {
  position relative
  width: 100%;
  height: 592px;
  margin-bottom: -118px;
  background: url(../img/bg-map.jpg) 0 100% no-repeat;
  z-index: 1;
}
// #map { height: 100%; }
/*
hotels
*/
@import 'hotels.styl';
/*
* Footer block
*/
.main-footer {
  clearfix()
  position: relative;
  background-color: rgba(255,255,255,.9);
  z-index: 10;
  padding: 36px 0;
}

.main-footer__item {
  display inline-block
  margin-right -4px
  vertical-align middle
  width (100/3)%
  text-align center
  box-sizing border-box
}

.main-footer__item--logo {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-decoration none
  color #000
}
.social-block {
  nolist()
  margin-right -4px
}
.social-block__btn {
  position relative
  display inline-block
  vertical-align: top;
  font-size 0
  background: #81b3d2;
  width: 46px;
  height: 48px;
  margin-right: 5px;
  transition background $anim_duration
  &:hover {
    background-color #669ec0
  }
  &:active {
    background #5496bd
    &:before {
      opacity .3
    }
  }
  &:before {
    content: ''
    position absolute
    display inline-block
    vertical-align middle
    top 50%
    margin-top -8px
    left 50%
    margin-left -10px
    width 20px
    height 16px
    background: url(../img/sprite.png) no-repeat;
  }
}
  .social-block__btn--tw:before {
    background-position: 2px -161px;
  }
  .social-block__btn--fb:before {
    width 10px
    height 20px
    margin-left -5px
    margin-top -10px
    background-position: -56px -158px;
  }
  .social-block__btn--yt:before {
      background-position: -103px -161px;
  }

.copyright-block__create_link {
  display inline-block
  vertical-align: middle;
  font-size 0
  margin-left 15px
  width: 113px;
  height: 39px;
  background: url(../img/sprite.png) no-repeat;
  background-position -159px -88px
  &:hover {
    background-position -159px -44px
  }
  &:active {
    background-position -159px 0px
  }
}
.copyright-block__create-by {
  font-weight 400
}
@media screen and (max-width:965px) {
  .feature-block__item {
    padding-left 30px
    padding-right 30px
  }
  .feature-list__item {
    padding-left 40px
    padding-right 40px
  }
  .options-block {
     width (100/3) %
  }
  .hotel-filter .price-night {
    width (100/3) %
  }
  .price-night__toggle--end {
    left 70%
  }
  .hotel-item__rating {
    width 150px
  }
}
