extends ../layouts/one_column

block head
  - pageTitle = 'Landing page title';
  - pageDescription = 'Landing page description';
  - pageKeywords = 'landing, html-slicing, psd, template, ua web challenge';

//- block scripts
//-   +script(['js/main.js'])

//- content
block content
  +b('main').main
    +b.hotel-filter
      +e('form')(method="post" action="/").parameters
        +b('ul').options-block
          +e('li')

            +e('h2').title Инфраструктура:
          +e('li').item
            +e('input')(type="checkbox" id="pool" name="pool" checked).check
            +e('label').label(for="pool") Бассейн
          +e('li').item
            +e('input')(type="checkbox" id="parking" name="parking" disabled).check
            +e('label').label(for="parking") Парковка
          +e('li').item
            +e('input')(type="checkbox" id="wifi" name="wifi").check
            +e('label').label(for="wifi") Wi-Fi
        +b('ul').options-block
          +e('li').item
            +e('h2').title Тип жилья:
          +e('li').item
            +e('input')(type="checkbox" id="hotel" name="hotel" checked).check
            +e('label').label(for="hotel") Гостиница
          +e('li').item
            +e('input')(type="checkbox" id="motel" name="motel" checked).check
            +e('label').label(for="motel") Мотель
          +e('li').item
            +e('input')(type="checkbox" id="apart" name="apart" checked).check
            +e('label').label(for="apart") Апартаменты
        +b.price-night
          +e('h2').title Стоимость в сутки (р):
          +e.from-to
            +e.start
              input(id="start-value")(placeholder="от 0")
            +e.end
              input(id="end-value")(placeholder="до 3000")
          +e.range
            +e.scale
              +e.range-bar
            each val in ['--start', '--end']
              +e('button')(class="toggle "+val)= val
          +e.btn-wrap
            +e('button').show-btn Показать
              +e('span').btn-bg
    +b.middle-filter
      +e.found Найдено:
        span#total-count 3
      +e('ul').sort
        +e('li').sort-item--sort Сортировка:
        +e('li').sort-item--active
          a(href='#') по цене
        +e('li').sort-item
          a(href='#') по типу
        +e('li').sort-item
          a(href='#') по рейтингу
      +e('ul').order
        +e('li').sort-btns--active
          +e('button').sort-btn--up(value = ' desc')
        +e('li').sort-bnts
          +e('button').sort-btn--down(value = 'asc')
    +b.filter-output
      +b.hotel-item
        +e.img-wrap
          +e('img').img(src='img/amara-resort&spa.jpg' alt='hotelName' width='135' height='90')
        +e.descr
          +e('a')(href='#').title Amara Resort & Spa
          +e.pricetype
            +e('span').type Гостиница
            +e('span').price от 3500 р.
          +e('ul').btn-block
            +e('li')
              +e('a')(href='#').btn--bg-blue Подробнее
            +e('li')
              +e('a')(href='#').btn--bg-broun Забронировать
        +e.rating
          +e.rating-stars--four
          +e.mark Рейтинг: 8,5
      +b.hotel-item
        +e.img-wrap
          +e('img').img(src='img/desert-quail-inn.jpg' alt='hotelName' width='135' height='90')
        +e.descr
          +e('a')(href='#').title Desert Quail Inn
          +e.pricetype
            +e('span').type Мотель
            +e('span').price от 2000 р.
          +e('ul').btn-block
            +e('li')
              +e('a')(href='#').btn--bg-blue Подробнее
            +e('li')
              +e('a')(href='#').btn--bg-broun Забронировать
        +e.rating
          +e.rating-stars--two
          +e.mark Рейтинг: 8,9
      +b.hotel-item
        +e.img-wrap
          +e('img').img(src='img/villas-at-poco-diablo.jpg' alt='hotelName' width='135' height='90')
        +e.descr
          +e('a')(href='#').title Villas at Poco Diablo
          +e.pricetype
            +e('span').type Апартаменты
            +e('span').price от 4000 р.
          +e('ul').btn-block
            +e('li')
              +e('a')(href='#').btn--bg-blue Подробнее
            +e('li')
              +e('a')(href='#').btn--bg-broun Забронировать
        +e.rating
          +e.rating-stars--three
          +e.mark Рейтинг: 9,2


