extends ../layouts/one_column

block head
  - pageTitle = 'Sedona main page';
  - pageDescription = 'Sedona main page description';
  - pageKeywords = 'Sedona, html-slicing, psd, template, html academy';

//- block scripts
//-   +script(['js/main.js'])

//- content
block content
    +b('main').main
      +b.intro
        +e.welcome
          |Welcome to the gorgeouse
        +e('div').site-name Sedona
        +e.slogan
          |Because the Grand Canyon sucks!"
      article
        +b.promo
          +e('h1').title Седона — небольшой городок в Аризоне, заслуживающий большего!
          +e('p').descr Рассмотрим 5 причин, по которым Седона круче чем Гранд Каньон!
        +b('section').features
          +b.feature-block--bg-feature1
            +e.item--bg-blue
              +e('h2').title Настоящий городок
              +e.number — №1 —
              +e('p').descr Седона не атракцион для туристов, там течёт своя жизнь
          +b.feature-list
            +e.item--home
              +e('h2').title Жильё
              +e('p').descr Рекомендуем пожить в&nbsp;настоящем мотеле, все как в&nbsp;кино!
            +e.item--eat
              +e('h2').title Еда
              +e('p').descr Всегда заказывай фирменный бургер, Вы&nbsp;не&nbsp;разочаруетесь!
            +e.item--gift
              +e('h2').title Сувениры
              +e('p').descr Не&nbsp;только китайского, но&nbsp;и&nbsp;местного производства!
          +b.feature-block--bg-feature2
            +e.item--right.--bg-blue
              +e('h2').title Там есть мост дьявола
              +e.number — №2 —
              +e('p').descr Да, по&nbsp;нему можно пройти! Если конечно вы&nbsp;осмелитесь
          +b.feature-list--gray
            +e.item
              +e('h2').title Небольшая площадь
              +e.number — №3 —
              +e('p').descr Все достопримеча&shy;тельности находятся очень близко
            +e.item
              +e('h2').title Красивая дорога
              +e.number — №4 —
              +e('p').descr Ехать в&nbsp;Седону из&nbsp;<span>Лас-Вегаса</span> совсем не&nbsp;скучно!
            +e.item
              +e('h2').title Мало туристов
              +e.number — №5 —
              +e('p').descr Большинство едет в&nbsp;гранд каньон и&nbsp;толпится там
        +b('section').index-search
          +e('h2').title Заинтересовались?
          +e('p').descr Укажите предполагаемые даты поездки и&nbsp;мы&nbsp;покажем вам лучшие предложения гостиниц в&nbsp;седоне
          +b('form')(action="/" method="post").search-form
            +e('a').btn(href="#" class="js-toggleShow") Поиск гостиниц в Седоне
            +e.inner.js-show
              +e.date
                label(for="dtarrival") Дата заезда:
                +e.input-wrap
                  input(class="date-arrival" id="dtarrival" type="text")
              +e.date
                label(for="dtdep") Дата выезда:
                +e.input-wrap
                  input(class="date-dep" id="dtdep" type="text")
              +e.age
                +e.left
                  label(for="adult") Взрослые:
                  +b.input-number
                    +e('button').btn--minus -
                    +e('input')(id="adult" type="text" placeholder="2").value
                    +e('button').btn--plus +
                +e.left--right
                  label(for="child") Дети:
                  +b.input-number
                    +e('button').btn--minus -
                    +e('input')(id="child" type="text" placeholder="0").value
                    +e('button').btn--plus +
              +e('input')(type="submit" value="Найти").search-btn
        +e.bg-map#map
